body {
  background-color: #667eb4;
  margin: 0;
}

.header{
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 72px;
  background-color: #33549b;
  color: #ffffff;
  font-size: 16pt;
  font-family: Pixel Anchor-Jack; 
  margin-bottom: 24px;
  padding-left: 40px;
  height: 80px;
}
.header a{
  color: #ffffff;
  text-decoration: none ;
}
.VTB-icon{
  object-fit: contain;
  height: 80%;
}